<!DOCTYPE html>
<html lang="en">

<head>
  <title>Actual</title>
  <link rel="icon" type="image/jpg" href="https://image.flaticon.com/icons/png/128/3151/3151352.png" />

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body
  background="http://t2.gstatic.com/images?q=tbn:ANd9GcQJ-K0BGtLGPAP39t-b9MtJ1DJ4kzhIhS6pa78C8VF_OcUOxdgikrfPN-8_0qc3e2eVFnP3j7xD63GZOZSTjaQ">

  {{{body}}}
</body>

</html>